---
---
<footer class="bg-lysgul-500 text-black py-6xl px-l sm:px-6xl">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-5xl max-w-screen-xl mx-auto">
      <!-- Kontakt -->
      <div>
        <h2 class="text-subheading-01-mobile sm:text-subheading-01-desktop mb-m">Kontakt</h2>
        <p class="text-body-base-mobile sm:text-body-base-desktop">Eva Riis Wiingaard</p>
        <a href="mailto:ERW@nykredit.dk" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">ERW@nykredit.dk</a>
        <div class="mt-l">
          <p class="text-body-base-mobile sm:text-body-base-desktop">Adresse</p>
          <a href="https://maps.google.com?q=Sundkrogsgade+25,+2150+København" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">
            Sundkrogsgade 25<br />
            2150 København
          </a>
        </div>
      </div>
  
      <!-- Følg Nykredit -->
      <div>
        <h2 class="text-subheading-01-mobile sm:text-subheading-01-desktop mb-m">Følg Nykredit</h2>
        <div class="space-y-s">
          <p>
            <span class="block text-body-base-mobile sm:text-body-base-desktop">LinkedIn</span>
            <a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">Nykredit</a>
          </p>
          <p>
            <span class="block text-body-base-mobile sm:text-body-base-desktop">Facebook</span>
            <a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">Nykredit</a>
          </p>
          <p>
            <span class="block text-body-base-mobile sm:text-body-base-desktop">Instagram</span>
            <a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">@Nykredit</a>
          </p>
        </div>
      </div>
  
      <!-- Politikker og links -->
      <div>
        <h2 class="text-subheading-01-mobile sm:text-subheading-01-desktop mb-m">Information</h2>
        <ul class="space-y-s">
          <li><a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">Presse</a></li>
          <li><a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">Privatlivspolitik</a></li>
          <li><a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">Tilgængelighed</a></li>
          <li><a href="#" class="block text-body-xl-mobile sm:text-body-xl-desktop underline">Cookie- og privatlivspolitik</a></li>
        </ul>
      </div>
    </div>
  </footer>